* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner {
    width: 100%;
    height: 70vh;
}

.flex {
    display: flex;
    gap: 5px;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    border: 1px solid black;
    width: auto;
    border-radius: 10px;
}

.card h1 {
    text-align: center;
    margin-top: 20px;
}


.flex input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.flex button {
    width: 100%;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

tr{
    height: 50px;
}

th,
td {
    border: 1px solid black;
    width: 250px;
    height: auto;
}

.d-flex {
    display: flex;
}

.flex1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    height: 50px;
}